/* Overall */
/* --------------------------------------- */
html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #f0f0f0;
}

button, i {
  cursor: pointer;
}

.intro, .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

h1 {
  font-size: 45px;
}

.contact-container  {
  margin-top: -40px;
}

/* Library Content */
/* --------------------------------------- */
button, i {
  cursor: pointer;
}

.library-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.library-button {
  display: flex;
  justify-content: center;
}

/* Book Card Content */
/* --------------------------------------- */
.book-card {
  background: #0D122B;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-title, .book-author, .book-pages, .book-read {
  color: white;
}

.book-read {
  margin-right: 35px;
}

.book-title {
  font-weight: bold;
  font-size: 15px;
  overflow-wrap: break-word;
}

.fa-trash, .fa-check {
  display: inline-flex;
  justify-content: flex-end;
  font-size: 25px;
  color: #a49c9c;
  margin-right: 10px;
}

.fa-trash:hover, .fa-check:hover {
  color: white;
}

.book-card-tools-container {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}

.radio-container, .button-container {
  padding: 5px;
}

.button-container .add {
  margin-left: 10px;
}

/* Form Page Content */
/* --------------------------------------- */
.form-page {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 250px;
  padding: 25px;
  background-color: #131a3d;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -125px;
  box-sizing: border-box;
  color: white;
  border-radius: 5px;
  z-index: 2;
}

label {
  padding: 5px;
}

.hidden {
  display: none;
}

#form-btn {
  width: 178px;
  border-radius: 10px;
  background-color: #99949c;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Roboto Slab', serif;
}

#form-btn:hover {
  background-color: #b5b0b8;
}

.cancel, .add {
  border-radius: 10px;
  background-color: #f8ecff;
  border: none;
  padding: 11px 13px;
  text-align: center;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
}

.cancel:hover, .add:hover {
  background-color: #948b99;
}

/* GitHub Button */
/* --------------------------------------- */
#github-btn {
  width: 140px;
  background-color: #573fc4;
  font-weight: bold;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Sen', sans-serif;
}

#github-btn:hover {
  background-color: #2807b8;
}

#github-btn a {
  text-decoration: none;
  color: white;
}